*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

body{

    background:#eef2f7;

    font-family:Arial, Helvetica, sans-serif;

}

header{

    background:#FF0000;

    color:black;

    padding:20px;

    text-align:center;

}

nav{

    background:#FFFFFF;

    padding:15px;

}

nav ul{

    display:flex;

    justify-content:center;

    list-style:none;

}

nav li{

    margin:0 20px;

}

nav a{

    color:black;

    text-decoration:none;

    font-weight:bold;

    transition:0.3s;

}

nav a:hover{

    color:#FFD700;

}

.bienvenida{

    text-align:center;

    padding:40px;

    background:white;

}

.bienvenida h2{

    color:#003366;

    margin-bottom:20px;

}


.bienvenida p{

    max-width:800px;

    margin:auto;

    line-height:1.7;

    color:#444;

}

.busqueda{

    display:flex;

    justify-content:center;

    margin:50px 0;

}

.barra-busqueda{

    display:flex;

    width:700px;

    background:white;

    border-radius:12px;

    overflow:hidden;

    box-shadow:0px 5px 15px rgba(0,0,0,0.15);

}

.barra-busqueda input{

    flex:1;

    padding:18px;

    border:none;

    font-size:16px;

    outline:none;

}

.barra-busqueda button{

    width:150px;

    background:#003366;

    color:white;

    border:none;

    cursor:pointer;

    font-size:16px;

    transition:0.3s;

}

.barra-busqueda button:hover{

    background:#00509e;

}

.contenedor-tarjetas{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:30px;

    padding:40px;

}


.tarjeta{

    width:330px;

    background:white;

    border-radius:15px;

    overflow:hidden;

    box-shadow:0 5px 15px rgba(0,0,0,0.15);

    transition:all .3s ease;

}

.tarjeta:hover{

    transform:translateY(-10px);

    box-shadow:0 15px 35px rgba(0,0,0,0.25);

}

.tarjeta img{

    width:100%;

    height:350px;

    object-fit:cover;

}

.contenido-tarjeta{

    padding:25px;

}
.contenido-tarjeta h3{

    color:#003366;

    margin-bottom:18px;

    font-size:24px;

}

.contenido-tarjeta p{

    margin:12px 0;

    color:#555;

    font-size:16px;

}

.estado{

    display:inline-block;

    padding:8px 15px;

    border-radius:30px;

    color:white;

    font-weight:bold;

    font-size:14px;

    margin-bottom:20px;

}

.desaparecido{

    background:#D62828;

}

.encontrado{

    background:green;

}

.investigacion{

    background:orange;

}

.tarjeta button{

    width:100%;

    margin-top:20px;

    padding:15px;

    border:none;

    border-radius:10px;

    background:#003366;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

.tarjeta button:hover{

    background:#00509e;

}

.contenedor-tarjetas{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:35px;

    padding:50px;

}

.titulo-muro{

    text-align:center;

    margin-top:30px;

}

.titulo-muro h2{

    color:#003366;

    font-size:34px;

}

.titulo-muro p{

    color:#666;

    margin-top:10px;

}

.imagen-tarjeta{

    position:relative;

}

.imagen-tarjeta img{

    width:100%;

    height:350px;

    object-fit:cover;

}

.filtros{

    margin-top:40px;

    text-align:center;

}

.filtros h2{

    color:#003366;

    margin-bottom:25px;

}


.contenedor-filtros{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:20px;

}


.contenedor-filtros select{

    width:180px;

    padding:14px;

    border-radius:10px;

    border:1px solid #cccccc;

    font-size:15px;

    cursor:pointer;

    background:white;

}

.contenedor-filtros button{

    padding:14px 25px;

    background:#8B0000;

    color:white;

    border:none;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;

}

.contenedor-filtros button:hover{

    background:#b30000;

}

.estadisticas{

    display:flex;

    justify-content:center;

    gap:30px;

    flex-wrap:wrap;

    margin:60px 0;

}


.estadistica{

    width:220px;

    background:white;

    padding:30px;

    border-radius:15px;

    text-align:center;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

    transition:.3s;

}

.estadistica:hover{

    transform:translateY(-8px);

}

.estadistica h2{

    font-size:45px;

    margin-bottom:15px;

}


.estadistica h3{

    font-size:35px;

    color:#003366;

}

.estadistica p{

    color:#666;

    margin-top:10px;

}

footer{

    background:#002244;

    color:white;

    text-align:center;

    padding:50px 20px;

    margin-top:70px;

}

footer h2{

    margin-bottom:20px;

}

footer p{

    margin:15px auto;

    max-width:700px;

    line-height:1.7;

}

footer hr{

    margin:30px auto;

    width:60%;

    border:.5px solid rgba(255,255,255,.2);

}


/* ==========================
   TABLETS
========================== */

@media (max-width: 992px){

    .estadisticas{

    gap:20px;

}

.barra-busqueda{

    width:90%;

}

.contenedor-filtros{

    justify-content:center;

}

}


/* ==========================
   CELULARES
========================== */

@media (max-width:768px){

    header h1{

    font-size:28px;

}

nav ul{

    flex-direction:column;

    align-items:center;

}

nav li{

    margin:12px 0;

}


.barra-busqueda{

    flex-direction:column;

}

.barra-busqueda button{

    width:100%;

    padding:18px;

}

.contenedor-filtros{

    flex-direction:column;

    align-items:center;

}

.contenedor-filtros select{

    width:90%;

}

.estadisticas{

    flex-direction:column;

    align-items:center;

}

.tarjeta{

    width:90%;

}

}

footer{

    padding:40px 20px;

}