*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

body{

    background:#eef2f7;

    font-family:Arial, Helvetica, sans-serif;

}

header{

    background:#FF0000;

    color:black;

    padding:20px;

    text-align:center;

}

nav{

    background:#FFFFFF;

    padding:15px;

}

nav ul{

    display:flex;

    justify-content:center;

    list-style:none;

}

nav li{

    margin:0 20px;

}

nav a{

    color:black;

    text-decoration:none;

    font-weight:bold;

    transition:0.3s;

}

nav a:hover{

    color:#FFD700;

}

.bienvenida{

    text-align:center;

    padding:40px;

    background:white;

}

.bienvenida h2{

    color:#003366;

    margin-bottom:20px;

}


.bienvenida p{

    max-width:800px;

    margin:auto;

    line-height:1.7;

    color:#444;

}

.busqueda{

    display:flex;

    justify-content:center;

    margin:50px 0;

}

.barra-busqueda{

    display:flex;

    width:700px;

    background:white;

    border-radius:12px;

    overflow:hidden;

    box-shadow:0px 5px 15px rgba(0,0,0,0.15);

}

.barra-busqueda input{

    flex:1;

    padding:18px;

    border:none;

    font-size:16px;

    outline:none;

}

.barra-busqueda button{

    width:150px;

    background:#003366;

    color:white;

    border:none;

    cursor:pointer;

    font-size:16px;

    transition:0.3s;

}

.barra-busqueda button:hover{

    background:#00509e;

}

.contenedor-tarjetas{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:30px;

    padding:40px;

}


.tarjeta{

    width:330px;

    background:white;

    border-radius:15px;

    overflow:hidden;

    box-shadow:0 5px 15px rgba(0,0,0,0.15);

    transition:all .3s ease;

}

.tarjeta:hover{

    transform:translateY(-10px);

    box-shadow:0 15px 35px rgba(0,0,0,0.25);

}

.tarjeta img{

    width:100%;

    height:350px;

    object-fit:cover;

}

.contenido-tarjeta{

    padding:25px;

}
.contenido-tarjeta h3{

    color:#003366;

    margin-bottom:18px;

    font-size:24px;

}

.contenido-tarjeta p{

    margin:12px 0;

    color:#555;

    font-size:16px;

}

.estado{

    display:inline-block;

    padding:8px 15px;

    border-radius:30px;

    color:white;

    font-weight:bold;

    font-size:14px;

    margin-bottom:20px;

}

.desaparecido{

    background:#D62828;

}

.encontrado{

    background:green;

}

.investigacion{

    background:orange;

}

.tarjeta button{

    width:100%;

    margin-top:20px;

    padding:15px;

    border:none;

    border-radius:10px;

    background:#003366;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

.tarjeta button:hover{

    background:#00509e;

}

.contenedor-tarjetas{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:35px;

    padding:50px;

}

.titulo-muro{

    text-align:center;

    margin-top:30px;

}

.titulo-muro h2{

    color:#003366;

    font-size:34px;

}

.titulo-muro p{

    color:#666;

    margin-top:10px;

}

.imagen-tarjeta{

    position:relative;

}

.imagen-tarjeta img{

    width:100%;

    height:350px;

    object-fit:cover;

}

.filtros{

    margin-top:40px;

    text-align:center;

}

.filtros h2{

    color:#003366;

    margin-bottom:25px;

}


.contenedor-filtros{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:20px;

}


.contenedor-filtros select{

    width:180px;

    padding:14px;

    border-radius:10px;

    border:1px solid #cccccc;

    font-size:15px;

    cursor:pointer;

    background:white;

}

.contenedor-filtros button{

    padding:14px 25px;

    background:#8B0000;

    color:white;

    border:none;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;

}

.contenedor-filtros button:hover{

    background:#b30000;

}

.estadisticas{

    display:flex;

    justify-content:center;

    gap:30px;

    flex-wrap:wrap;

    margin:60px 0;

}


.estadistica{

    width:220px;

    background:white;

    padding:30px;

    border-radius:15px;

    text-align:center;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

    transition:.3s;

}

.estadistica:hover{

    transform:translateY(-8px);

}

.estadistica h2{

    font-size:45px;

    margin-bottom:15px;

}


.estadistica h3{

    font-size:35px;

    color:#003366;

}

.estadistica p{

    color:#666;

    margin-top:10px;

}

footer{

    background:#002244;

    color:white;

    text-align:center;

    padding:50px 20px;

    margin-top:70px;

}

footer h2{

    margin-bottom:20px;

}

footer p{

    margin:15px auto;

    max-width:700px;

    line-height:1.7;

}

footer hr{

    margin:30px auto;

    width:60%;

    border:.5px solid rgba(255,255,255,.2);

}


/* ==========================
   TABLETS
========================== */

@media (max-width: 992px){

    .estadisticas{

    gap:20px;

}

.barra-busqueda{

    width:90%;

}

.contenedor-filtros{

    justify-content:center;

}

}


/* ==========================
   CELULARES
========================== */

@media (max-width:768px){

    header h1{

    font-size:28px;

}

nav ul{

    flex-direction:column;

    align-items:center;

}

nav li{

    margin:12px 0;

}


.barra-busqueda{

    flex-direction:column;

}

.barra-busqueda button{

    width:100%;

    padding:18px;

}

.contenedor-filtros{

    flex-direction:column;

    align-items:center;

}

.contenedor-filtros select{

    width:90%;

}

.estadisticas{

    flex-direction:column;

    align-items:center;

}

.tarjeta{

    width:90%;

}

}

footer{

    padding:40px 20px;

}

.ficha-persona{

    max-width:900px;

    margin:50px auto;

    background:white;

    border-radius:20px;

    padding:40px;

    box-shadow:0 8px 25px rgba(0,0,0,.15);

}

.cabecera-ficha{

    text-align:center;

}

.cabecera-ficha img{

    width:280px;

    height:350px;

    object-fit:cover;

    border-radius:15px;

    box-shadow:0 8px 20px rgba(0,0,0,.20);

}

.estado{

    display:inline-block;

    margin-top:20px;

    background:#d32f2f;

    color:white;

    padding:10px 20px;

    border-radius:30px;

    font-weight:bold;

}

.cabecera-ficha h1{

    color:#003366;

    margin-top:25px;

    font-size:34px;

}

.cabecera-ficha p{

    margin:10px 0;

    color:#555;

    font-size:18px;

}

.volver{

    margin:30px;

}

.volver a{

    text-decoration:none;

    color:#003366;

    font-weight:bold;

    font-size:18px;

}

.volver a:hover{

    color:#d32f2f;

}

.informacion-persona{

    margin-top:50px;

}

.informacion-persona h2{

    color:#003366;

    margin-bottom:30px;

    text-align:center;

}

.datos-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:20px;

}

.dato{

    background:#f5f5f5;

    padding:20px;

    border-radius:12px;

}

.dato strong{

    display:block;

    color:#003366;

    margin-bottom:10px;

}

.dato span{

    color:#444;

}

.galeria{

    display:flex;

    justify-content:center;

    gap:15px;

    margin-top:25px;

}

.galeria img{

    width:120px;

    height:150px;

    object-fit:cover;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;

}

.galeria img:hover{

    transform:scale(1.08);

}

.desaparicion{

    margin-top:50px;

}

.desaparicion h2{

    color:#003366;

    text-align:center;

    margin-bottom:30px;

}

.descripcion{

    margin-top:50px;

}

.descripcion h2{

    text-align:center;

    color:#003366;

    margin-bottom:25px;

}

.descripcion p{

    background:#f7f7f7;

    padding:25px;

    border-radius:15px;

    line-height:1.8;

    text-align:justify;

}

.contacto-caso{

    margin-top:50px;

}

.contacto-caso h2{

    text-align:center;

    color:#003366;

    margin-bottom:30px;

}

.boton-ficha{

    display:inline-block;

    margin-top:20px;

    padding:12px 22px;

    background:#003366;

    color:white;

    text-decoration:none;

    border-radius:8px;

    transition:.3s;

}

.boton-ficha:hover{

    background:#00509d;

}


.formulario-caso{

    max-width:800px;

    margin:50px auto;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:0 8px 20px rgba(0,0,0,.15);

}

.formulario-caso h1{

    text-align:center;

    color:#003366;

    margin-bottom:15px;

}

.formulario-caso p{

    text-align:center;

    margin-bottom:35px;

    color:#555;

}


.formulario-caso form{

    display:flex;

    flex-direction:column;

}

.formulario-caso label{

    margin-top:18px;

    margin-bottom:8px;

    font-weight:bold;

}

.formulario-caso input,
.formulario-caso select,
.formulario-caso textarea{

    padding:14px;

    border-radius:10px;

    border:1px solid #ccc;

    font-size:16px;

}

.formulario-caso button{

    margin-top:30px;

    padding:15px;

    background:#8B0000;

    color:white;

    border:none;

    border-radius:10px;

    cursor:pointer;

    font-size:16px;

    transition:.3s;

}

.formulario-caso button:hover{

    background:#b30000;

}

.encontrados{

    max-width:1200px;

    margin:auto;

    padding:50px 20px;

}

.encontrados h1{

    text-align:center;

    color:#003366;

}


.encontrados p{

    text-align:center;

    margin-bottom:40px;

}

.contenedor-encontrados{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

    gap:30px;

}

.tarjeta-encontrado{

    background:white;

    border-radius:20px;

    overflow:hidden;

    text-align:center;

    box-shadow:0 5px 20px rgba(0,0,0,.15);

}

.tarjeta-encontrado img{

    width:100%;

    height:300px;

    object-fit:cover;

}

.tarjeta-encontrado h2{

    color:#003366;

    margin:20px;

}

.tarjeta-encontrado p{

    color:green;

    font-weight:bold;

}

.tarjeta-encontrado a{

    display:inline-block;

    margin:20px;

    padding:12px 20px;

    background:#003366;

    color:white;

    text-decoration:none;

    border-radius:8px;

}


.contacto{

    max-width:900px;

    margin:auto;

    padding:50px;

}

.contacto h1{

    text-align:center;

    color:#003366;

}

.contacto p{

    text-align:center;

    margin-bottom:40px;

}

.error404{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    height:100vh;

    text-align:center;

}

.error404 h1{

    font-size:120px;

    color:#8B0000;

}

.error404 h2{

    margin-bottom:20px;

}

.error404 a{

    margin-top:30px;

    padding:15px 30px;

    background:#003366;

    color:white;

    text-decoration:none;

    border-radius:10px;

}